.grid {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 4rem;
}

.pageTitle {
    align-self: flex-start;
    color: #355834;
    padding-inline-start: 3%;
}