.footer {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', sans-serif;
    color: #14281D;
    padding-top: 2rem;
}

.footerCta {
    padding: 2rem 0;
    width: 100%;
    background-color: #80A1D4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

.footerLinks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #14281D;
    padding: 2rem 0;
}

.socials {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
}

.legal {
    width: 100%;
    border-top: 1px solid #eaeaea;
    padding: 2rem 0;
}

.navLinks {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    color: #355834;
    padding: 0;
    gap: 6rem;
}
