.container {
  padding: 0 2rem;
  margin: 0 auto;
  width: 100%;
}

.children {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata', sans-serif;
  color: #14281D;
  gap: 100px;
}

.children:has(h1) {
  gap: 25px;
}