.navWrapper {
    width: 100%;
    margin: 0 auto;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar Link {
    flex: .5;
  }
  
  .navLinks {
    width: 45%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    color: #355834;
    padding: 0;
    gap: 8%;
  }
  
  
  @media screen and (min-width: 768px) {
    .navLinks {
      font-size: 1.25rem;
      gap: 2%;
    }

    .navWrapper {
      padding: 0;
    }
    
  }

@media screen and (min-width: 1024px) {  
    .navWrapper {
    padding: 2.5rem;
    max-width: 1420px;
   
  }
}

