.container {
    display: flex;
    gap: 1.5rem;
}

.postDetails {
    display: flex;
    flex-direction: column;
    color: #80A1D4;
    font-weight: 600;
}

.postDetails small {
    color: #6E633D;
    font-weight: 100;
}